{{#switch state}}
  {{#case "seleccionCompetidores"}}
    <div id="{{state}}">
      <div class="block"></div>
      <div class="block"></div>
    </div>
  {{/case}}
  {{#case "exploracionProductos"}}
    <div id="{{state}}">
      <div class="block"></div>
      <div class="block"></div>
    </div>
  {{/case}}
{{/switch}}
