<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="card-content">
        <div class="row">
          <h5 class="col s12">Filtros</h5>
        </div>
        <div class="row">
          <div class="col s4">
            <div class="row">
              Diferencia de Precio (USD)
            </div>
            <div class="sliders"></div>
            <div class="row">
              Cantidad de Inventario
            </div>
            <div class="sliders"></div>
          </div>

          <div class="col s4">
            <div class="row">
              Precio (USD)
            </div>
            <div class="sliders"></div>

            <div class="row">
              Precio Competidor (USD)
            </div>
            <div class="sliders"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="sliderPrice">
</div>
