<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="card-content">
        <div class="row">
          <h5 class="col s12">Filtros</h5>
        </div>
        <div class="row">
          <div class="col s12 m6 l5">
            <div class="row">
              Diferencia de Precio (USD)
            </div>
            <div class="sliders"></div>
            <div class="row">
              Cantidad de Inventario
            </div>
            <div class="sliders"></div>
          </div>

          <div class="col s12 m6 l5">
            <div class="row">
              Precio (USD)
            </div>
            <div class="sliders"></div>

            <div class="row">
              Precio Competidor (USD)
            </div>
            <div class="sliders"></div>
          </div>
          <div class="col s12 m6 l2">
            <div class="row">Producto</div>
            <div class="row">
              <nav class="searchFilter">
                <div class="input-field white">
                  <input type="search" id="searchProduct">
                  <label for="searchProduct">
                    <i class="material-icons">search</i>
                    <i class="material-icons">arrow_drop_down</i>
                  </label>
                </div>
              </nav>
            </div>
            <div class="row">Prod. Prom.</div>
            <div class="row">
              <input type="checkbox" id="promotion" class="filled-in" checked="checked" disabled="disabled">
              <label for="promotion"></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="card-content">
        <div class="row">
          <h5 class="col s12">Exploración de Productos</h5>
        </div>
        <div id="productsTable"></div>
      </div>
    </div>
  </div>
</div>

