<div class="row">
  <div class="col s3">
    <input type="number" name="sliderMin" class="inputSlider center" value="10">
  </div>
  <div class="col s6">
    <div  class="filterSliders"></div>
  </div>
  <div class="col s3">
    <input type="number" name="sliderMax" class="inputSlider center" value="50">
  </div>
</div>
